<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro de computadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-toggle (ionChange)="habilitar()"> Habilitar a edição  </ion-toggle>
  </ion-item>


  <ion-list>
    <ion-item>
      <ion-input label="Categoria" placeholder="Qual a categoria do computador" [(ngModel)]="categoria" disabled="{{edicao}}"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="processador" placeholder="Qual procassador do computador" [(ngModel)]="processador" disabled="{{edicao}}"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Placa De Video" placeholder="Qual a placa de Video do computador" [(ngModel)]="placaVideo" disabled="{{edicao}}"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Memoria Ram" placeholder="Qual a memoria Ram do computador" [(ngModel)]="memoriaRam" disabled="{{edicao}}"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Armazenamento" placeholder="Selecione" [(ngModel)]="armazenamento" disabled="{{edicao}}" >
        <ion-select-option value="0">SSD 256GB</ion-select-option>
        <ion-select-option value="1">SSD 500GB</ion-select-option>
        <ion-select-option value="2">SSD 1000GB</ion-select-option>
        <ion-select-option value="3">SSD 500GB M2</ion-select-option>
        <ion-select-option value="4">SSD 1000gb M2</ion-select-option>
      </ion-select>
    </ion-item>


    <img src="{{this.computadores.downloadURL}}"/>
    <ion-item>
      <ion-button size="default" color="primary" shape="round" fill="outline" disabled="{{edicao}}" >
        <input type="file" (change)="uploadFile($event.target)" />
      </ion-button>
    </ion-item>

      <ion-button expand="block" fill="outline" color="success" (click)="editar()" disabled="{{edicao}}">Salvar</ion-button>
      <ion-button expand="block" fill="outline" color="danger" (click)="excluir()" disabled="{{edicao}}">Excluir</ion-button>
      <ion-button expand="block" fill="outline" color="primary" (click)="voltar()" disabled="{{edicao}}">Voltar</ion-button>


  </ion-list>
</ion-content>
